<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCDtKZ5cFs-FqyfpEbovJYMR0lfr0O1Uho</string>
	<key>GCM_SENDER_ID</key>
	<string>571059337976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socketIo</string>
	<key>PROJECT_ID</key>
	<string>socket-app-demo-803d8</string>
	<key>STORAGE_BUCKET</key>
	<string>socket-app-demo-803d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571059337976:ios:f1133815bf5d422948990d</string>
</dict>
</plist>